.main-window__top {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  margin-bottom: 100px;
}

.main-window__title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto 0 auto;
}

.main-window__subtitle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto 0 auto;
}

.main-window__image--center {
  display: block;
  width: 75%;
  margin: 0 auto 100px auto;
  height: 400px;
}

.main-window__image--full-width {
  display: block;
  width: 100%;
  margin: 0 auto 100px auto;
  height: 600px;
}

.main-window__paragraph {
  display: block;
  width: 50%;
  margin: 0 auto 100px auto;
}

.main-window__large-text {
  display: block;
  width: 75%;
  margin: 0 auto 100px auto;
}

.main-window__area-nav {
  width: 100%;
  margin-bottom: 200px;
  position: sticky;
  top: 0;

}

.main-window__area {
  width: 100%;
  margin: 0 auto 100px auto;
}
